/* first section */

#first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

#first #mainLogo {
    height: 600px;
    margin: 0 auto;
    filter: drop-shadow(5px 5px 5px var(--primary-color));
}

#second > div {
    width: 600px;
    height: 100px;
    margin: 40px 50px;
}

#third > div {
    margin: 50px;
}

/* introduce section */
